# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

|Data Science Tools|
|---|
|jupyter notebook|
|anaconda|
|r studio|

Below are a few examples of evaluating arithmetic expressions in Python
- $+$
- $-$
- $/$

In [3]:
# arithmetic operation
result = compile("5 + 4", "<string>", "eval")
eval(result)

9

In [5]:
(3*4)+5
# Result: 17

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

Objectives: 
- markdown
- jupyter
- python

List popular languages for Data Science : 
- python
- r
- java

## Author
Fernanda